.gist-viewer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.gist-viewer__gist-result {
  margin: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gist-viewer__search-input {
  flex-basis: 60%;
}

.gist-viwer__search-btn {
  flex-basis: 25%;
}

.gist-viewer__gist-search-control-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
